# Python
venv/
.venv/
__pycache__/
*.pyc

# Django
db.sqlite3
media/
staticfiles/

# React
frontend/node_modules/
node_modules/
dist/
build/

# Environment
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db