# Python cache files
__pycache__/
*.py[cod]

# Virtual Environment
venv/
env/

# SQLite Database
db.sqlite3

# Environment Variables
.env

# VS Code
.vscode/

# Django static files
media/
staticfiles/

# Logs
*.log

# Operating System files
.DS_Store
Thumbs.db